#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    default_album_art_path: None,
    draw_borders: false,
    show_song_table_header: false,
    symbols: (song: "🎵", dir: "📁", marker: "\u{e0b0}"),
    layout: Split(
        direction: Vertical,
        panes: [
            (
                pane: Pane(TabContent),
                size: "100%",
            ),
            (
                pane: Pane(ProgressBar),
                size: "1",
            ),
        ],
    ),
    progress_bar: (
        symbols: ["─", "⊙", " "],
        track_style: (bg: "default"),
        elapsed_style: (fg: "#4f8f52", bg: "default"),
        thumb_style: (fg: "#4f8f52", bg: "default"),
    ),
    scrollbar: (
        symbols: ["│", "█", "▲", "▼"],
        track_style: (),
        ends_style: (),
        thumb_style: (fg: "#4f8f52"),
    ),
    browser_column_widths: [0, 58, 42],
    text_color: "#5f8787",
    background_color: "default",
    header_background_color: "default",
    modal_background_color: "default",
    modal_backdrop: false,
    tab_bar: (active_style: (fg: "#ffffff", bg: "#003e1f", modifiers: "Bold"), inactive_style: (fg: "#5f8787", bg: "#111111")),
    borders_style: (fg: "#5f8787"),
    highlighted_item_style: (fg: "#ffffff", modifiers: "Bold"),
    current_item_style: (fg: "#ffffff", bg: "#003e1f", modifiers: "Bold"),
    highlight_border_style: (fg: "#4f8f52"),
    song_table_format: [
        (
            prop: (kind: Property(Artist), style: (fg: "#DB9558"), default: (kind: Text("Unknown"))),
            width: "35%",
        ),
        (
            prop: (kind: Property(Title), style: (fg: "#4F5B2A"), default: (kind: Text("Unknown"))),
            width: "49%",
        ),
        (
            prop: (kind: Property(Duration), style: (fg: "#D8C9A8"), default: (kind: Text("-"))),
            width: "15%",
			alignment: Right,
        ),
    ],
    header: (
        rows: [
            (
                left: [
                    (kind: Text("["), style: (fg: "#aa3333", modifiers: "Bold")),
                    (kind: Property(Status(State)), style: (fg: "#4f8f52", modifiers: "Bold")),
                    (kind: Text("]"), style: (fg: "#aa3333", modifiers: "Bold"))
                ],
                center: [
                    (kind: Property(Song(Artist)), style: (fg: "#ffffff", modifiers: "Bold"),
                        default: (kind: Text("Unknown"), style: (fg: "#ffffff", modifiers: "Bold"))
                    ),
                    (kind: Text(" - "), style: (fg: "#5f8787")),
                    (kind: Property(Song(Title)), style: (fg: "#4f8f52", modifiers: "Bold"),
                        default: (kind: Text("No Song"), style: (fg: "#4f8f52", modifiers: "Bold"))
                    )
                ],
                right: [
                    (kind: Text("Vol: "), style: (fg: "#5f8787", modifiers: "Bold")),
                    (kind: Property(Status(Volume)), style: (fg: "#4f8f52", modifiers: "Bold")),
                    (kind: Text("% "), style: (fg: "#5f8787", modifiers: "Bold"))
                ]
            )
        ],
    ),
)
